{% extends "layout.html" %}

{% block head %}

{% import json %}

<script type="text/javascript">
    {% if user is not None %}
        {% set user_obj = json.loads(user); %}
        savedPlaces = {% raw json.dumps(user_obj['places']) %};
    {% end %}
    $(function() {
        initMapView();
    });
</script>

<script type="text/html" id="place_template">
    <div class="place" id=<%=docId%>>
      <span class="name"><%=name%></span>
      <img class="DeletePlace" src="{{static_url('images/delete32x32.png')}}" />
   </div>
</script>

<script type="text/html" id="tag_template">
   <div class="Tag" id="<%=tagId%>">
      <span class="TagName"><%=name%></span>
   </div>
</script>

{% end block %}

{% block body %}
<div id="greeting">
   {% if user_obj['name']%}
      {{ escape(user_obj['name']) }}'s Places
   {% end %}
</div>

<br />
<div id="Search">
   <input type="text" id="SearchTerm" />
   <div id="PlacesList"> 
   </div>
</div>
<div id="map-canvas" style="height:500px"/>



{% end %}
