body, html, div
{
   margin:0;
   padding:0;
}

body
{
   width:100%
}
#Search
{
   float:left;
   width:20%;
}

.DeleteItem
{
   float:right;
   height:20px;
   width:20px;
}

#PlacesList
{
   overflow:hidden;
}

#SearchTerm
{
   margin:5px;
}
.clear
{
   clear:both;
}

#map-canvas
{
   float:right;
   width:75%;
   margin: 0px 5px;
}

.Selected
{
    background:aqua;
}

.place img
{
   width:12px;
   height:12px;
   margin: 5px 0px 0px 0px;
   border-radius:12px;
   cursor:default;
   float:right;
   visibility:hidden;
}

.place:hover img
{
    visibility:visible;
}

.place span
{
    padding: 0px 5px;
    margin:2px;
    border:none;
    position:relative;
    cursor:default;
}
.place span:hover
{
    outline:ridge;
}

.place img:hover
{
    background:orange;
}
