<head>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="{{ static_url('js/socket.io.js') }}"></script>
<script src="{{ static_url('js/utils.js') }}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="{{ static_url('js/maps.js') }}"></script>
<script src="{{ static_url('js/main.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ static_url('css/site.css') }}">
{% block head %}
{% end block %}
</head>
<body>
{% block body %}
{% end %}
</body>
